# =========================
# Python / FastAPI
# =========================
venv/
__pycache__/
*.pyc

# Environment Variables
.env
.env.local

# =========================
# Node.js / Next.js
# =========================
node_modules/
.next/
out/

# Logs
*.log

# IDE Files
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Databases
*.db

